<!DOCTYPE html>
<html>
<head>
    <title>Flood Prediction System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

<h1>🌊 Flood Prediction System</h1>
<p>Machine Learning Based Flood Risk Detection</p>

<form action="/predict" method="POST">

<input type="number" name="Rainfall" placeholder="Rainfall (mm)" required>

<input type="number" name="CloudVisibility" placeholder="Cloud Visibility (%)" required>

<input type="number" name="SeasonalRainfall" placeholder="Seasonal Rainfall (mm)" required>

<input type="number" name="Temperature" placeholder="Temperature (°C)" required>

<input type="number" name="Humidity" placeholder="Humidity (%)" required>

<button type="submit">Predict Flood</button>

</form>

</div>

</body>
